
include ../blocks/header/header
include ../blocks/main/main
include ../blocks/footer/footer
include ../blocks/scripts/scripts

doctype html
html(lang='ru')
  include ../blocks/head/head
  body
    +header()
    +main()
    +footer()
    block scripts
    +scripts(['build.js'])
