mixin header()
  .svg-sprite
    include ../sprite/svg.svg
  header.header
    .header__logo
      <svg viewBox="0 0 399 60" xmlns="http://www.w3.org/2000/svg">
        <title>
          logo
        </title>
        <g fill="none" fill-rule="evenodd">
          <g stroke="red" stroke-width="2">
            <path d="M1 28.805V59h30.195v-.01l.928-.066C47.223 57.83 59 45.226 59 30 59 13.984 46.016 1 30 1 14.774 1 2.169 12.776 1.076 27.877l-.067.928H1z" fill="#FFF"/>
            <path d="M7 29.155V53h23.845l.839-.06C43.66 52.072 53 42.075 53 30 53 17.297 42.703 7 30 7 17.924 7 7.927 16.34 7.06 28.316l-.06.839z" fill="#FFF"/>
            <path d="M13 29.375V47h17.625l.62-.045C40.097 46.315 47 38.925 47 30c0-9.389-7.611-17-17-17-8.926 0-16.315 6.903-16.955 15.755l-.045.62z" fill="#FFF"/>
            <path d="M19 29.596V41h11.404l.402-.029C36.533 40.557 41 35.775 41 30c0-6.075-4.925-11-11-11-5.775 0-10.557 4.467-10.971 10.194l-.029.402z" fill="#FFF"/>
            <path d="M18.878 41H1.145M18.878 47H1.145M18.878 53H1.145M19 39.5v19.3M13 39.5v19.3M7 39.5v19.3" stroke-linecap="square"/>
          </g>
          <g fill-rule="nonzero">
            <path d="M104.56 9.58c1.38 0 1.74.66 1.74 1.74V16c0 1.38-.66 2.46-.66 2.46L91.66 47.2c-.6 1.26-1.14 1.8-2.4 1.8h-7.62c-.96 0-1.26-.72-.66-1.8L96.1 18.04H81.4c-1.38 0-1.74-.66-1.74-1.74v-4.98c0-1.08.36-1.74 1.74-1.74h23.16z" fill="#000"/>
            <path d="M145.12 47.08c.54.84.24 1.92-.9 1.92h-7.08c-1.44 0-2.16-.54-3-1.8l-6.48-9.66c-.54-.72-.66-1.38-.66-3.06v-4.8c0-1.08.36-1.74 1.74-1.74h1.2c2.94 0 5.7-2.04 5.7-4.86 0-3.12-2.4-5.1-5.52-5.1h-7.98v29.28c0 1.38-.66 1.74-1.74 1.74h-5.94c-1.08 0-1.68-.36-1.68-1.74V11.32c0-1.08.3-1.74 1.68-1.74h15.12c6.54 0 9.42 1.32 11.94 3.84 2.22 2.16 3.48 5.58 3.48 9.42 0 6.3-4.62 10.68-8.34 11.94l8.46 12.3zm36.24-6.48c1.38 0 1.74.66 1.74 1.74v4.92c0 1.08-.36 1.74-1.74 1.74h-26.88c-1.38 0-1.74-.66-1.74-1.74v-36c0-1.08.36-1.74 1.74-1.74h25.86c1.38 0 1.74.66 1.74 1.74v4.98c0 1.08-.36 1.74-1.74 1.74h-18.12v6.54h16.08c1.38 0 1.74.66 1.74 1.74v4.68c0 1.08-.36 1.74-1.74 1.74h-16.08v7.92h19.14zm24.18-31.08c7.14 0 16.14 4.14 16.14 13.5V35.5c0 9.42-9 13.5-16.14 13.5H192.1c-1.38 0-1.74-.66-1.74-1.74v-36c0-1.08.36-1.74 1.74-1.74h13.44zm6.72 25.14v-10.8c0-3.78-2.76-6-6.72-6h-5.76v22.8h5.76c3.96 0 6.72-2.16 6.72-6z" fill="red"/>
            <path d="M256.06 40.6c1.38 0 1.74.66 1.74 1.74v4.92c0 1.08-.36 1.74-1.74 1.74H231.1c-1.38 0-1.74-.66-1.74-1.74v-36c0-1.38.66-1.74 1.74-1.74h5.94c1.08 0 1.74.36 1.74 1.74V40.6h17.28zm25.38.18c1.38 0 1.74.66 1.74 1.74v4.74c0 1.08-.36 1.74-1.74 1.74h-16.98c-1.38 0-1.74-.66-1.74-1.74v-4.74c0-1.08.36-1.74 1.74-1.74h3.78V17.86h-3.66c-1.38 0-1.74-.66-1.74-1.74v-4.86c0-1.08.36-1.74 1.74-1.74h16.68c1.38 0 1.74.66 1.74 1.74v4.86c0 1.08-.36 1.74-1.74 1.74h-3.6v22.92h3.78zm39.78-31.26c1.08 0 1.74.36 1.74 1.74v36c0 1.08-.36 1.74-1.74 1.74h-5.46c-1.5 0-1.92-.84-2.7-2.04l-12.72-20.58v20.88c0 1.38-.66 1.74-1.74 1.74h-5.94c-1.08 0-1.74-.36-1.74-1.74v-36c0-1.08.36-1.74 1.74-1.74h5.64c1.5 0 1.92.84 2.7 2.04l12.72 20.52V11.26c0-1.38.66-1.74 1.74-1.74h5.76zm39.24 31.08c1.38 0 1.74.66 1.74 1.74v4.92c0 1.08-.36 1.74-1.74 1.74h-26.88c-1.38 0-1.74-.66-1.74-1.74v-36c0-1.08.36-1.74 1.74-1.74h25.86c1.38 0 1.74.66 1.74 1.74v4.98c0 1.08-.36 1.74-1.74 1.74h-18.12v6.54h16.08c1.38 0 1.74.66 1.74 1.74v4.68c0 1.08-.36 1.74-1.74 1.74h-16.08v7.92h19.14zm27.6-14.52c4.32 1.32 10.68 3.06 10.68 11.22 0 8.52-6.72 12.6-15.96 12.6-7.5 0-16.14-4.32-16.14-12.72 0-1.38.36-1.68 1.74-1.68h5.82c1.38 0 2.04.18 2.16 1.68.06.78.36 1.56 1.14 2.46 1.2 1.44 3.66 1.98 5.88 1.98 3.24 0 5.88-.72 5.88-4.08 0-3.36-5.34-3.42-10.44-5.04-6.06-1.92-11.64-4.32-11.64-11.94 0-7.8 7.08-11.64 14.58-11.94 7.62 0 15.96 3.48 15.96 11.4 0 1.44-.36 1.68-1.74 1.68h-5.88c-1.14 0-1.32-.84-1.62-1.62-.24-.6-.54-1.08-1.26-1.8-1.14-1.08-3.3-1.62-5.1-1.62-1.98 0-5.28.78-5.28 3.48 0 3.66 8.82 4.98 11.22 5.94z" fill="#000"/>
          </g>
        </g>
      </svg>
    h2.header__title.title
      span Building
      |  effective solutions
    h2.header__title.title
      span Solving
      |  complex tasks

  .bg
    .bg__line
    .bg__line
    .bg__line
    .bg__line
    .bg__line
    .bg__line
    .bg__line
