body-color = #333333
accent-color = #ff0000
bg-color = #FBFBFD

html
  box-sizing border-box

*,
*:before,
*:after
  box-sizing inherit

body
  position relative
  font-family "Open Sans", sans-serif
  color body-color
  background-color bg-color

.container
  width 87.5%
  max-width 1200px
  margin 0 auto


:disabled, [disabled], [aria-disabled="true"]
  cursor not-allowed

a
  -webkit-text-decoration-skip: ink
  text-decoration-skip: ink

.svg-sprite
  display none

.title
  padding-left 16px
  font-family "Merriweather"
  font-weight 400
  line-height 1.4
  font-size 40px

  +above(1200px)
      font-size 80px

  span
    display inline-block
    position relative

    &::before
      content ''
      width calc(100% + 24px)
      height 20px
      position absolute
      left -16px
      bottom 0
      background-color #EAEAF2
      z-index -1

